.body1{
    background-color: #1f2937;
    height: 300px;
    display: flex;
}

.header-logo {
    width: 150px;
    height: 30px;
    color: #f9faf8;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 600;
    padding-left: 10%;
}

.header-links{
    width: 500px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding-left: 60%;
}

.header-link-item{
    font-size: 18px;
    color: #e5e7eb;
    font-family: Hero;
    padding: 10px;
}